@font-face {
    font-family: 'AthachantrTrial-Regular';
    src: url('/font/AthachantrTrial-Regular.otf');
  }

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #99b38f;
}

h1.logo{
    font-family: AthachantrTrial-Regular;
    color: white;
    font-size: 45px;
    margin-left: 10px;
}

nav{
    display: flex;
    gap: 40px;
    font-family: AthachantrTrial-Regular;
    font-size: 20px;
    padding-right: 10px;
}

a {
    font-size: 25px;
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

.container_imagem{
    background-color: white;
    height: 300px;
}

.filtros{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 185px;
    border-radius: 50px;
    border: 0.8px solid gray;
}

/*.pesquisa{
    background-color: red;
    align-self: center;
    width: 400px;
    height: 60px;
    margin-left: 20px;
    border-radius: 50px;
}*/

.botoes_filtro{
    display: flex;
    width: 98%;
    align-items: center;
    justify-content: space-around;
    margin-left: 10px;
    gap: 15px;
}

button.botoes_filtro{
    font-family: AthachantrTrial-Regular;
    font-weight: bold;
    height: 80%;
    font-size: 22px;
    border-radius: 50px;
}

button.botoes_filtro:hover{
    background-color: lightgray;
    cursor: pointer;
}

.container {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;
    background-color: #708268;
    margin: 0 auto 200px;
    border-radius: 20px;
    
}

.itens{
    width: 220px;
    height: 220px;
    background-color: white;
}

img.itens:hover{
    transform: scale(1.20);
    cursor: pointer;
}

footer{
    background-color: black;
    height: 200px;
}
